@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import "tailwindcss";

.font-inter {
    font-family: "Inder", serif;
}

.font-great-vibes {
    font-family: "Great Vibes", serif;
}
.no-scrollBar::-webkit-scrollbar{
    display: none;
}

.container-xxl {
    @apply max-w-7xl m-auto px-5 py-10 md:py-24;
}

.container-xl {
    @apply max-w-7xl m-auto px-5 md:py-10;
}

/* How it works ========================= */
.how-it-works {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------------- How it works ------------- */

.insights-box h1 {
    font-size: clamp(36px, 20vw, 80px);
}

.jou-card * {
    transition: .5s;
}

.jou-card .jou-card-inner {
    position: relative;
    transform: translate(0%, 0%);
}

.jou-card.active .jou-card-inner {
    width: 350px !important;
    height: 100%;
    left: -50%;
    transform: scale(1.1);
    position: relative;
    display: flex;
    flex-direction: column;
    /* padding: 10; */
}

.jou-card.active .jou-card-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jou-card.active .jou-text {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: white;
    /* bottom:10px ; */
    position: absolute;
    border-radius: 16px;
    padding: 12px;
}

.dropdown {
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.sub-menu-wrapper {
    height: 80vh;
    overflow-y: scroll;
}

.discover-link:hover .dropdown {
    visibility: visible;
    opacity: 1;
}


header *::-webkit-scrollbar {
    width: 8px;
    /* Adjust width */
    /* height: 8px; */
}

header *::-webkit-scrollbar-track {
    background: #1d2736;
    /* Track color */
    border-radius: 10px;
}

header *::-webkit-scrollbar-thumb {
    background: #DF782B;
    /* Scrollbar color */
    border-radius: 10px;
}

header *::-webkit-scrollbar-thumb:hover {
    background: #b45e22;
    /* Darker on hover */
}

.popup-container::-webkit-scrollbar-track {
    background: #EBEBEB;
    overflow: hidden;
    /* Track color */
    border-radius: 10px;
}

.popup-container::-webkit-scrollbar {
    width: 8px;
    /* Adjust width */
    /* height: 8px; */
}

.popup-container::-webkit-scrollbar-thumb {
    background: #b45e22;
    /* Darker on hover */
    border-radius: 10px;

}

.popup-container::-webkit-scrollbar-thumb:hover {
    background: #b45e22;
    /* Darker on hover */
}
.blogmodal-img::-webkit-scrollbar-track {
    background: #EBEBEB;
    overflow: hidden;
    /* Track color */
    border-radius: 10px;
}

.blogmodal-img::-webkit-scrollbar {
    width: 8px;
    /* Adjust width */
    /* height: 8px; */
}

.blogmodal-img::-webkit-scrollbar-thumb {
    background: #b45e22;
    /* Darker on hover */
    border-radius: 10px;

}

.blogmodal-img::-webkit-scrollbar-thumb:hover {
    background: #b45e22;
    /* Darker on hover */
}

.service-text::-webkit-scrollbar-track {
    background: #FFD5B5;
    border-radius: 10px;
}

.service-text::-webkit-scrollbar {
    width: 16px;
}
.service-text::-webkit-scrollbar-thumb {
    background: #b45e22;
    border-radius: 10px;

}
header .dropdown {
    overflow-x: hidden;
    overflow-y: scroll;
}

.testimonial-slider .testimonials-img img {
    height: 100%;
    /* width: 50%; */
    object-fit: cover;
    filter: grayscale(80%);
}

.testimonial-slider .swiper-slide-active .testimonial-text {
    display: block;
}

.testimonial-slider .swiper-slide-active .testimonials-img {
    max-width: 100%;
    width: 100%;
}

.testimonial-slider .swiper-slide-active .testimonials-img img {
    filter: grayscale(0%);
}

.jou-card * {
    transition: .5s;
}

.jou-card.active {}

/* our work cyndrical animation */

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.banner .slider {
    position: absolute;
    width: 60vw;
    height: 100vh;
    bottom: 10%;
    left: calc(50% - 30vw);
    transform-style: preserve-3d;
    transform: perspective(2400px);
    animation: autoRun 50s linear infinite;
    z-index: 2;
    scale: .9;
}

/* Animation Stop on Hover */
.banner .slider:hover {
    animation-play-state: paused;
}

@keyframes autoRun {
    from {
        transform: perspective(1500px) rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: perspective(1500px) rotateX(0deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    height: 250vh;
    width: 200vh;
    transform: 
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        scaleX(-1)
        translateZ(4400px);
    cursor: pointer;
    overflow: hidden;
}

.banner .slider .item .checkout {
    transition: all ease 0.5s;
}

.banner .slider .item:hover .checkout {
    opacity: 1;
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive adjustments */
@media screen and (max-width: 1023px) {
    .banner .slider {
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }
    .banner .slider .item {
        transform: 
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(300px);
    }
}

@media screen and (max-width: 767px) {
    .banner .slider {
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }

    .banner .slider .item {
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(180px);
    }

}

.member-text {
    opacity: 0;
    visibility: hidden;
    position: relative;
}

.member-box:hover .member-text {
    opacity: 1;
    visibility: visible;
}

.custom-stroke  {
    -webkit-text-stroke: .5px #ED510C;
    -webkit-text-fill-color: transparent;

  }

    .banner .slider .item {
        transform: 
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(180px);
    }

/* For screens larger than 2048px */
@media screen and (min-width: 2049px) {
    .banner .slider {
        width: 50vw;
        height: 100vh;
        left: calc(50% - 25vw);
        transform: perspective(3000px);
    }

    .banner .slider .item {
        height: 280vh;
        width: 220vh;
        transform: 
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            scaleX(-1)
            translateZ(6000px);
    }
}
.service-img-1 img,
.hero-img img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}